{% extends 'base.html' %}
{% import 'macro.html' as macro %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Post it Up
    {% endif %}
{% endblock title %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %} 


{% block content %}
    <div class="container-fluid indexWrapper">
        <div class="header1">
            <div class="row rowheader">
                <div class="col">
                    <div class="head1">
                        <h4>
                            Welcome to Blogzy. 
                        </h4>
                    </div>
                </div>
                <div class="col">
                    <div class="head2">
                        <h5>
                            Our quote of the day is:
                        </h5>
                        <blockquote class = "blockquote text-center">
                            <p class = "mb-0">
                                {{quote.quote}}
                            </p>
                        <br>
                        <footer class = "blockquote-footer">
                            <cite>
                                {{quote.author}}
                            </cite>
                        </footer>
                        </blockquote>
                    </div>
                </div>
                <div class="col">
                    <div class="head3">
                        <p>
                            Enjoy going through our website and I hope you find inspiration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="container-fluid">
                <div class="row rowhp">
                    <div class="col-lg-10 colhp">
                        <div class="heading4"> 
                            <h5> 
                                Our Blogs
                            </h5>
                        </div>
                        <div class="hpblog">
                            {% if blogs %}
                                {{ macro.showBlogPosts(blogs) }}
                            {% else %}
                                <p>
                                    There are no blogs on the website. Be the first to create one by clicking <a href="{{ url_for('main.post_blog') }}"> here </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="footer1">
            <h5 style="color: beige;">
                Subscribe to our posts here
            </h5>
            <form action = "{{url_for('main.home')}}" method="post"> 
                
                {{ subscribe_form.hidden_tag()}} 

                <div class="form-floating mb-3">
                    {{ subscribe_form.firstname(class_="form-control") }}
                    {{ subscribe_form.firstname.label}}
                </div>
                <div class="form-floating mb-3">
                    {{ subscribe_form.lastname(class_="form-control") }}
                    {{ subscribe_form.lastname.label}}
                </div>
                <div class="form-floating mb-3">
                    {{ subscribe_form.email(class_="form-control") }}
                    {{ subscribe_form.email.label}}
                </div>
                <div class="submit">
                    <input class = "submitbtn" type = "submit" value = "Subscribe">
                </div>

            </form>
        </div>
    </div>
{% endblock content %}